.logo>img {
    width: 100%;
 }
 .logo {
   max-width: 80px;
  }
 button  {
    height: 30px;
 }
 #search { 
    height: 30px;
  }
  #hit {
    height: 30px;
   }
.carousel {
    width: 100%;
    height: 100vh;
 }
 #buton {
    margin-top: 400px;
  }
#jj {
   margin-top: 70px;
   height: 300px;
 }