.logo>img {
    width: 100%;
 }
 .logo {
   max-width: 80px;
  }
 button  {
    height: 30px;
 }
 #search { 
    height: 30px;
  }
  #hit {
    height: 30px;
   }
.carousel {
    width: 100%;
    height: 100vh;
 }
 #buton {
    margin-top: 400px;
  }
#jj {
   margin-top: 70px;
  
 }
 #jj { margin-bottom: 50px; }
 @media screen and (max-width:980) and (min-width:480) {
   #jj { margin: 30px auto;
   }
 }
 .nav a {
   text-decoration: none;
   color: black;
 }
 a:visited {  text-decoration: none;}

a:hover { background-color: rgb(31, 91, 139);
          border-radius: 5px;
         color: white; }
#h2 {font-size: 20px;}
h5 { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
#items:hover { 

}